* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --one-color: #01080E;
    --two-color: #4C5761;
    --three-color: #D7E03F;
    --color: #e9e9e9;
}

html,
body,
main,
section {
    height: 100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--one-color);
    color: var(--color);
}

.navbar {
    color: var(--one-color);
}

/* INDEX / LOGIN */
.area-login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.area-login .form-login {
    padding: 15px;
    border-radius: 5px;
    border-left: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}

.area-info {
    width: 40%;
}

.info-task,
.form-login,
.form-cadastro {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}


/* FORMULÁRIO DE CADASTRO DE USUÁRIO */
.area-form-cadastro {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

main section .text-success {
    position: absolute;
    top: 10%;
}

.area-form-cadastro .form-cadastro {
    padding: 15px;
    border-radius: 5px;
    border-left: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
}

.area-form-cadastro .area-info .img-cadastro img {
    width: 25%;
}


/* FORMULÁRIO DE CADASTRO DE TAREFA */
.area-cadastrar-tarefa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.area-cadastrar-tarefa .img-cadastrar-tarefa img {
    width: 70%;
}


/* LISTA DE TAREFAS */
.area-tarefas {
    margin-top: 5%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


/* TELA DE CARREGANMENTO */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
    display: none;
  }
  
  .loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }